* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  background: #fff;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.login {
  border: solid 1px #0384fc;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #949494;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
}
.login-group {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  width: 100%;
}
.login-group label {
  color: #4d4d4d;
  padding: 5px 0;
  text-transform: capitalize;
}
.login-group input {
  border: solid 1px #949494;
  border-radius: 4px;
  padding: 10px;
}
.login-group input::placeholder {
  color: #949494;
}
.login-group button {
  background: #0384fc;
  border: none;
  border-radius: 1px;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  text-transform: capitalize;
  width: 100%;
}
